openapi: 3.0.3
info:
  title: 💵 Wallet App API
  description: API documentation for the Wallet App
  version: 1.0.0
servers:
  - url: https://masadamsahid-simple-wallet-golang-api.leapcell.app/api
    description: Leapcell Prod Server
  - url: http://localhost:8080/api
    description: Local Development Server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Generic Response Wrapper
    GenericResponse:
      type: object
      properties:
        message:
          type: string
          example: "Success"
        data:
          type: object
          nullable: true
        errors:
          type: object
          nullable: true
          description: "Validation errors or error details"

    # User Model
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: "User Pertama"
        email:
          type: string
          format: email
          example: "user1@example.com"
        balance:
          type: integer
          format: int64
          example: 100000
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # Transaction Model
    Transaction:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 101
        user_id:
          type: integer
          format: int64
          example: 1
        amount:
          type: integer
          format: int64
          example: 50000
        transaction_type:
          type: string
          enum: [withdrawal, deposit]
          example: "deposit"
        description:
          type: string
          example: "Deposit from bank"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/User'

    # Requests
    RegisterRequest:
      type: object
      required:
        - name
        - email
        - password
        - confirm_password
      properties:
        name:
          type: string
          example: "User Pertama"
        email:
          type: string
          format: email
          example: "user1@example.com"
        password:
          type: string
          format: password
          example: "password"
        confirm_password:
          type: string
          format: password
          example: "password"

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: "user1@example.com"
        password:
          type: string
          format: password
          example: "password"

    TransactionRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          type: integer
          format: int64
          description: "Amount to deposit or withdraw (must be greater than 0)"
          example: 100000

    # Specific Response Data
    AuthResponseData:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            access_token:
              type: string
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

paths:
  /auth/register:
    post:
      summary: Register a new user
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: Registration successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GenericResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AuthResponseData'
        '400':
          description: Bad Request (Validation Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /auth/login:
    post:
      summary: Login user
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GenericResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AuthResponseData'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /users/balance:
    get:
      summary: Get user balance
      tags:
        - Users
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GenericResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int64
                          email:
                            type: string
                            format: email
                          balance:
                            type: integer
                            format: int64
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /transactions/deposit:
    post:
      summary: Deposit funds
      tags:
        - Transactions
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequest'
      responses:
        '200':
          description: Deposit successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GenericResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transaction'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /transactions/withdraw:
    post:
      summary: Withdraw funds
      tags:
        - Transactions
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequest'
      responses:
        '200':
          description: Withdrawal successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GenericResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transaction'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /transactions:
    get:
      summary: Get transaction history
      tags:
        - Transactions
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GenericResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Transaction'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
